@media (max-width:1600px) and (min-width: 100px){
    #bullet, #bullet2, #bullet3, #bullet4, #bullet5{
        width: 10rem;
    }
}
 @media (max-width:1400px) and (min-width: 100px){
   .menu ul{
        align-items: center;
        font-size: 0.75em;
    }
    h1{
        font-size: 2em;
    }
    .bullets{
        margin-bottom: 2rem;
    }
}
@media (max-width:1250px) and (min-width: 100px){
    .logo{
        width: 9rem;  
    }
    .langs{
        font-size: 0.7em;
    }
    .menu-ul{
        font-size: 0.7em;
    }
   
    .menu ul li a{   
        width: 100%;
        color:white;
    }
    .menu ul li a:hover{ 
        transition: all 0.4s cubic-bezier(0.7, 0.03, 0.4, 1);
    }
}   
@media only screen and (min-width: 50px) and (max-width:1100px){
    .home-title{
        bottom: -6.5rem;
        right: 4rem;
        line-height: 7rem;
    }
    .logo{
        width: 9em; 
        margin-left: 1vw;  
    }
    .menu{
        flex-direction: column;
        width: 100%;
        position: fixed;
        top:6rem;
        min-width: 35%;
        right: -100%;
        transition: 0.2s cubic-bezier(0.7, 0.03, 0.4, 1);
        background-color: black;
        padding-bottom: 2rem;
    }
    .menu-fixed nav{
        transition: 0.2s cubic-bezier(0.7, 0.03, 0.4, 1);
        width: 100%;
    }
    .langs{
        flex-direction: row;
        justify-content: center;
    }
    .cabecera{
        width: auto;
   }
    .menu-ul{
        flex-direction: column;
       
    }
    .menu ul li{
        justify-content: center;
    }
    .bars__menu{
        display: block;
    }
    .footer{
        padding-top: 3rem;
    }
    .menu.active{
        right: 0;
        transition: all 0.4s cubic-bezier(0,.6,.8,.7);
    }
    .menu li.active{
       
        text-align: left;
        align-content: center;
        transition: all 0.4s cubic-bezier(0,.6,.8,.7);
    }

}
@media only screen and (min-width: 50px) and (max-width:550px){
    .hamburguer{
        transition: 0.6s cubic-bezier(0.7, 0.03, 0.4, 1);
        display: block;
        width: 1.6rem;
        position: absolute;
    }
    .cross{
        transition: 0.8s cubic-bezier(0.7, 0.03, 0.4, 1);
        display: block;
        width: 1.6rem;
        position: absolute;
        }
}
@media only screen and (min-width: 50px) and (max-width:500px){
    .hamburguer{
        transition: 0.6s cubic-bezier(0.7, 0.03, 0.4, 1);
        display: block;
        width: 1.5rem;
        position: absolute;
        right:1.2rem;
    }
    .cross{
        transition: 0.8s cubic-bezier(0.7, 0.03, 0.4, 1);
        display: block;
        width: 1.5rem;
        position: absolute;
        right:1.2rem;
    }
    #btn-menu:checked ~* .menu li{
        padding: 0 0.5rem;
    }
}
