@media (max-width:1600px) and (min-width: 100px){
    /*Fix Scroll*/
    h1[id]{
        scroll-margin-top: 6rem;
    }
    /*HOME SCREEN*/
    .title{
        font-size: 5.5em;
    }
    #bullet, #bullet2, #bullet3, #bullet4, #bullet5{
        width: 10rem;
    }
    /*PROJECTS PREVIEW*/
    .row{
        justify-content:space-around;
    }
    .column{
        width: 33rem;
        height: 33rem;
    }
    .effect .effect-img{
        width: 33rem;
        height: 33rem;
    }
    .effect .effect-img img{
        height: 33rem;
    }
}
 @media (max-width:1400px) and (min-width: 100px){
    h1{
        font-size: 2em;
    }
    /*MENU*/
    .menu ul{
        align-items: center;
        font-size: 0.75em;
    }
    /*HOME SCREEN*/
    .home-screen{
        margin-top: 2.5rem;
    }
    .title{
        font-size: 5em;
    }
}
@media (max-width:1250px) and (min-width: 100px){
    p{
        font-size: 1.1em;
    }
    h1{
        font-size: 1.5em;
    }
    /*Fix Scroll*/
    h1[id]{
        scroll-margin-top: 5rem;
    }
    /*MENU*/
    .logo{
        width: 9rem;  
    }
    .menu-ul{
        font-size: 0.7em;
    }
    .menu ul li a{   
        width: 100%;
        color:white;
    }
    .menu ul li a:hover{ 
        transition: all 0.4s cubic-bezier(0.7, 0.03, 0.4, 1);
    }
    /*PROJECTS PREVIEW*/
    .column{
        width: 25rem;
        height: 25rem;
    }
    .effect .effect-img{
        width: 25rem;
        height: 25rem;
    }
    .effect .effect-img img{
        height: 25rem;
    }
}   
@media only screen and (min-width: 50px) and (max-width:1100px){
    h2{
        font-size: 1.8em;
    }
    /*Fix Scroll*/
    h1[id]{
        scroll-margin-top: 4rem;
    }
    /*MENU*/
    .logo{
        width: 8em;   
    }
    .cabecera{
        width: auto;
        padding: 1rem;
    }
    .menu{
        flex-direction: column;
        width: 100%;
        position: fixed;
        left: 0;
        top:-15%;
        min-width: 35%;
        transition: 0.2s cubic-bezier(0.7, 0.03, 0.4, 1);
        background-color: black;
        padding-bottom: 1rem;
    }
    .menu-ul{
        justify-content: center;
    }
    .menu ul li{
        justify-content: center;
    }
    .menu.active{
        padding-top: 1.5rem;
        top: 4.06rem;
        transition: all 0.6s cubic-bezier(.3,.3,.28,1);
    }
    .menu li.active{
        text-align: left;
        align-content: center;
        transition: all 0.6s cubic-bezier(.3,.3,.28,1);
    }
    .menu-fixed nav{
        transition: 0.2s cubic-bezier(0.7, 0.03, 0.4, 1);
        width: 100%;
    }
    .bars__menu{
        display: block;
    }
    /*PROJECTS PREVIEW*/
    .row{
        margin-bottom: 5rem;
    }
    .column{
        width: 20rem;
        height: 20rem;
        margin-top: 3rem;
    }
    .effect .effect-img{
        width: 20rem;
        height: 20rem;
    }
    .effect .effect-img img{
        height: 20rem;
    }
    /*FOOTER*/
    .footer{
        padding-top: 3rem;
    }
}
@media only screen and (min-width: 50px) and (max-width:850px){
    h3{
        font-size: 1.3em;
    }
    p{
        font-size: 1em;
    }
    /*MENU*/
    .menu{
        top:-100%;
    }
    .menu-ul{
        flex-direction: column;
    }
    /*HOME SCREEN*/
    .home-screen{
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
    }
    .title{
        width: 90%;
    }
    .img-home{
        width: 70%;
    }
    /*PROJECTS PREVIEW*/
    .row{
        margin-bottom: 7.5rem;
    }
    .column{
        width: 27.5rem;
        height: 27.5rem;
        margin-top: 3rem;
    }
    .effect .effect-img{
        width: 27.5rem;
        height: 27.5rem;
    }
    .effect .effect-img img{
        height: 27.5rem;
    }
    /*FOOTER*/
    .footer{
        margin-top: 0;
    }
    .footer-section{
        width: 40%;
        margin: 0.5rem 0;
        align-content: center;
    }
}
@media only screen and (min-width: 50px) and (max-width:550px){
    p{
        font-size: 1em;
    }
    h2{
        font-size: 1.3em;
    }
    h3{
        font-size: 1.2em;
    }
    /*Scroll Fix*/
    h1[id]{
        scroll-margin-top: 3rem;
    }
    /*MENU*/
    .logo{
        width: 6em;
    }
    .menu.active{
        padding-top: 0;
    }
    .bars__menu{
        top: 1.5rem;
    }
    /*HOME SCREEN*/
    .title{
        font-size: 4em;
    }
    .img-home{
        width: 100%;
    }
    /*PROJECTS PREVIEW*/
    .column{
        width: 22rem;
        height: 22rem;
    }
    .effect .effect-img{
        width: 22rem;
        height: 22rem;
    }
    .effect .effect-img img{
        height: 22rem;
    }
    .row h2{
        margin-top: 0;
        margin-bottom: 3rem;
    }
    /*FOOTER*/
    .footer-section{
        width: 100%;
        align-content: center;
        text-align: center;
    }
    .footer p , .footer a{
        font-size: 0.7em;
        line-height: 2.25em;
    }
}
@media only screen and (min-width: 50px) and (max-width:500px){
    /*MENU*/
    .menu.active{
        padding-top: 2%;
        top: 7%;
    }
    /*HOME SCREEN*/
    .title{
        font-size: 3.5em
    }
}
