html {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    --main-color-gold: rgb(239, 175, 31);
    --main-color-gray: rgb(20,20,20);
    scroll-behavior: smooth;
    background-color: black;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
main{
    margin: 0 5% 0 5%;
    padding-top: 7.5%;
    width: 90%;
    text-align: justify;
}
h1{
    font-size: 3rem;
    color: white;
    line-height: normal;
}
h2{
    
    font-size: 2rem;
    color: white;
}
h3{
    padding-top: 0.6rem;
    justify-items: center;
    align-items: center;
    font-size: 1rem;
}
p{
    font-size: 1.1rem;
    color:white;
}
a{ 
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
::-webkit-scrollbar{
    width: 0.1rem;
}
::-webkit-scrollbar-thumb{
    background: var(--main-color-gold);
}
/*Flex*/
.d-blc{
    display: block;
}
.d-fx{
    display: flex;
}
.f-wp{
    flex-wrap: wrap;
}
.f-cl{
    flex-direction: column;
}
/*Alineacion*/
.j-ct{
    justify-content: center;
}
.j-st{
    justify-content: start;
}
.j-sb{
    justify-content: space-between;
}
.j-se{
    justify-content: space-evenly;
}
.j-it{
    justify-content: center;
}
.a-se{
    align-content: space-evenly;
}
.a-ct{
    align-content: center;
}
.a-it{
    align-items: center;
}
.a-sb{
    align-content: space-between;
}
.tx-ct{
    text-align: center;
}
.tx-jf{
    text-align: justify;
}