html {
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    --main-color-enfasis: rgb(255, 255, 255);
    --main-color-enfasis2: rgb(20,20,20);
    scroll-behavior: smooth;
    background-color:var(--main-color-enfasis2);
    cursor: default;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
main{
    margin: 0;
    width: 100%;
    text-align: justify;
 
}
h1{
    font-size: 3em;
    color: white;
    line-height: normal;
    font-weight: 700;
   
}
h2{
    line-height: normal;
    font-size: 2em;
    color: white;
}
h3{
    color: white;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 300;
}
p{
    font-size: 1.2em;
    color:white;
}
a{ 
    text-decoration: none;
    color: white;
    font-size: 1em;
}
h1[id]{
    scroll-margin-top: 8rem;
}
label{
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    text-align: center;
}
::-webkit-scrollbar{
    width: 0.1rem;
}
::-webkit-scrollbar-thumb{
    background: var(--main-color-enfasis);
}
/*Flex*/
.d-blc{
    display: block;
}
.d-fx{
    display: flex;
}
.f-wp{
    flex-wrap: wrap;
}
.f-cl{
    flex-direction: column;
}
/*Alineacion*/
.j-ct{
    justify-content: center;
}
.j-st{
    justify-content: start;
}
.j-sb{
    justify-content: space-between;
}
.j-se{
    justify-content: space-evenly;
}
.j-end{
    justify-content: end;
}
.a-se{
    align-content: space-evenly;
}
.a-ct{
    align-content: center;
}
.a-it{
    align-items: center;
}
.a-sb{
    align-content: space-between;
}
.tx-ct{
    text-align: center;
}
.tx-jf{
    text-align: justify;
}