body{
   font-size: 1.3em;
   line-height: 1.3em;
   margin: 0;
}
.cabecera{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    min-height:65px; 
    padding: 1.5rem;   
    align-items: center;
}
.header{
    width: 100%;
    display: flex;
    background-color:black;
    position: fixed; 
    z-index: 10;
}
.lenguages{
    font-size: 0.8em;
}
.footer{
    padding: 3rem 0;
}
#bullet, #bullet2, #bullet3, #bullet4, #bullet5{
    width: 13rem;
}
.bullets{
    margin-bottom: 3rem;
    align-items: center;
}
/*Hamburguesa*/
.bars__menu{
    width: 1.875rem;
    position: absolute;
    display: none;
    cursor: pointer;
    right: 2.5rem;
    top: 2rem;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 0.125rem;
    background: white;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 1px); 
}

.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px; 
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}
/*Menu*/
.logo-nav-container{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 8em;
    display: flex;
    flex-wrap: wrap;
}
.menu{
    display: flex;
    justify-content: space-between;
}
.menu ul{
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.menu ul a, .menu ul p{
    display: block;
    padding: 0.5rem 1.2rem;
    color:white;
    cursor: pointer;
}
.menu ul a:hover{
    box-shadow: inset 0px -0.6px 0px 0px var(--main-color-gold);
    transition: all 0.8s cubic-bezier(.3,.3,.28,1);
}
/*Home screen*/
.home-screen{
    /*height: 80vh;*/
    margin-bottom: 7.5%;
}
.title{
    font-weight: 900;
    font-size: 6em;
    width: 50%;
    line-height: normal;
    text-align: left;
}
.img-home{
    width: 50%;
}
.img-home img{
    width: 100%;
}
/*Bullets*/
.bullet-container{
    margin-bottom: 8%;
    margin-top: 5%;
}
/*Cards*/
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
}
.row h2{
    margin-top: 3rem;
    text-align: center;
    font-weight: 300;
}
.column{
    width: 28rem;
    height: 28rem;
    margin-bottom: 15%;
    margin-right: 15px;
    margin-left: 15px;
    /*position: relative;
    z-index: 0;*/
}
.effect{
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    opacity: 1;
}
.effect-text{
    display: flex;
    flex-direction: column;
}
.effect .effect-img{
    font-size: 0;
    overflow: hidden;
    width: 28rem;
    height: 28rem;
}
.effect .effect-img img{
    display: flex;
    width: 100%;
    height: 28rem;
    transition: all .3s;
    object-fit: cover;
}
.effect:hover .effect-img img{
    transform: scale(1.2);
}
.effect .effect-text{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--main-color-gray);
    overflow: hidden;
    transition: all .3s ease-in;
    opacity: 0.8;
}
.effect-text p{    
    opacity: 0;
    transition: all .3s ease-in;
    transition-delay: .2s;
    margin: 20px 30px 0 30px;
}
.animated-icons{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    opacity: 1;
    transition: all 1s cubic-bezier(.3,.3,.28,1);
}
.effect:hover .animated-icons{    
    width: 0;
    opacity: 0;   
}
.effect-text:hover p{
    opacity: 1;
    bottom: 100%;
    margin: 0 30px 0 30px;
}
.effect .effect-text:before,.effect .effect-text:after{
    position: absolute;
    display: block;
    width: 100%;
    height: 0;
    content: '';
}
.effect .effect-text:before{
    border-top: 1px solid var(--main-color-gold);
    border-right: 1px solid var(--main-color-gold);
    left: -100%;
    top:0;
}
.effect .effect-text:after{
    border-bottom: 1px solid var(--main-color-gold);
    border-left: 1px solid var(--main-color-gold);
    left: 100%;
    bottom:0;
}
.effect:hover .effect-text{
    background-color: var(--main-color-gray);
    opacity: 0.95;
}
.effect:hover .effect-text:after, .effect:hover .effect-text:before{
    animation-delay: .1s ;
    animation-duration: .6s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.3,.3,.28,1);
    animation-fill-mode:forwards;
}
.effect:hover .effect-text:after{
    animation-name: left-up;
}
.effect:hover .effect-text:before{
    animation-name: right-dn;
}
@keyframes left-up {
    0%{
        left:100%;
        height:0;
    }
    50%{
        left:0;
        height:0;
    }
    100%{
        left:0;
        height:100%;
    }
}
@keyframes right-dn {
    0%{
        left:-100%;
        height:0;
    }
    50%{
        left:0;
        height:0;
    }
    100%{
        left:0;
        height:100%;
    }
}
/*Beneficios*/
.benefits{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5%;
}
.benefits-sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 47.5%;
}

.benefits-sections a{
    align-self: end;
    width: 33%;
    margin: 4rem 0;
    padding: 1rem 2rem;
    text-align: center;
    border: .0625rem solid var(--main-color-gold);
    transition: all 0.5s cubic-bezier(.3,.3,.28,1);
    
}
.benefits-sections a:hover{
    box-shadow: 0 0 2.5rem var(--main-color-gold);
    scale: 1.1;
    letter-spacing: 0.06em;
}