RewriteBase /
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{HTTP_HOST} ^www.creditcasa.mx$ [OR]
RewriteCond %{HTTP_HOST} ^www.creditcasa.com.mx$ 
RewriteRule ^(.*)$ http://creditcasa.mx/$1 [L,R=301]